# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# FastBuild database files
*.fdb

# Executables
# *.exe # disabling for fbuild
*.out
*.app

# Build folders
./lib
./obj

# VS Solutions, projects
*.sln
*.vcxproj
*.vcxproj.filters

# VS data
.vs
x64
asio/x64
