# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so # linux static libs are not expected in this repo folder
*.dylib
#*.dll # we need to add external libs like SDL

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a # linux static libs are not expected in this repo folder
#*.lib # we need to add external libs like SDL

# FastBuild files
*.fdb
*.log

# Executables
#*.exe # for fbuild
*.out
*.app

# Other artifacts
*.ilk
*.pdb

# Build folders
/lib/
/obj/
/exe/

# VS Solutions, projects
*.sln
*.vcxproj
*.vcxproj.*

# VS data
.editorconfig
.vs/
#./x64
/asio/x64/
/Graphics-SDL2/x64/
/PotionBrewing/x64/
/Common/x64/
/PotionBrewing/log.txt

# CLion data
.idea
